nav {
    position: relative;
    color:#000;
    margin: 0px auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    text-align: center;
    border-right:1px solid gray;
    padding-right:20px;
    padding-left:20px;
    text-decoration:none;
    color:#000;
}

nav ul li ul {
    display: none
}

nav ul li:hover ul {
    display: block;
    position: absolute;
}

nav ul li:hover ul li a {
    display:block;
    background:#12aeef;
    color:#ffffff;
    width: 110px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
}

nav ul li:hover ul li a:hover {
    background:#6dc7ec;
    color:#fff;
}

iframe {
    border: none;
}